Support registries not hosted at root

Our Kafka host provides the schema registry under a url like this: `https://whatever.srvs.cloudkafka.com/schemaregistry/`. 
The client creates requests the following way: 
```php
return new Request(
        'GET',
        '/subjects',
        ACCEPT_HEADER
    );
```

As the Guzzle [documentation](https://docs.guzzlephp.org/en/stable/quickstart.html) for `base_uri` states: 
> When a relative URI is provided to a client, the client will combine the base URI with the relative URI using the rules described in [RFC 3986, section 5.2](https://tools.ietf.org/html/rfc3986#section-5.2).

This means the request that is sent is something like: `https://whatever.srvs.cloudkafka.com/subjects`. The path given in the `base_uri` is lost. 

The solution seems to be to remove the leading `/` from all requests in the [this](https://github.com/flix-tech/schema-registry-php-client/blob/master/src/Requests/Functions.php) file. I have tested this solution by locally modifying the file inside the vendor directory in my project. 